@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

.link_main {
  font-family: "Raleway";
  color: black;
}
